<div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <%= image_tag "women-on-rails.jpg" %>
      </a>
    </div>
</div>

<div class="page-header">
<h1>Home#index <small>This is my hompepage!!!</small</h1>
</div
<p>Find me in app/views/home/index.html.erb</p>
<br/>

<div class="panel panel-primary">
  <div class="panel-heading"><%= @name %></div>
  <div class="panel-body">
    <h1><%= @username_1 %></h1>
    <h2><%= @username_2 %></h1>
    <h3><%= @description %></h2>
    <p><%= @comment %></p>
  </div>
</div>

<%= @my_table.each do |my_link|  %>
  <li><a href="<%=  my_link  %>">Lien - <%= my_link %></a></li>
<% end %>

<h1><b>Week 4 - M of MCV</b></h1><br/>
<% @my_curiosities = Curiosity.all %>

<h2>First item of Curiosity:</h2> <%= @my_curiosities[0].name %><br/>

<h2>Loop:</h2><br/>
<% @my_curiosities.each do |curiosity| %>
<div>
  <p><%= curiosity.name %> - <%= curiosity.description %> <a href="<%= curiosity.image_url %>" target="_blank"><img class="picture" title="<%= curiosity.image_text %>" alt="<%= curiosity.image_text %>" src="<%= curiosity.image_url %>"></img></a></p>
</div>
<% end %>

